# Clustering Project Book Recommender System Using Collaborative Filtering

In [1]:
import numpy as np 
import pandas as pd

In [2]:
books = pd.read_csv('Books.csv')
book = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

C:\Users\Mega Computers\AppData\Local\Temp\ipykernel_5640\3730536306.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')
C:\Users\Mega Computers\AppData\Local\Temp\ipykernel_5640\3730536306.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv('Books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
book = books[['ISBN' , 'Book-Title' , 'Book-Author' , 'Year-Of-Publication' , 'Publisher' ,'Image-URL-M']]

In [6]:
book.rename(columns={'Book-Title':'title' , 'Book-Author':'author' , 'Year-Of-Publication':'year' , 'Publisher':'publisher' , 'Image-URL-M':'Image_URL_M'} , inplace=True)

C:\Users\Mega Computers\AppData\Local\Temp\ipykernel_5640\322354270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book.rename(columns={'Book-Title':'title' , 'Book-Author':'author' , 'Year-Of-Publication':'year' , 'Publisher':'publisher' , 'Image-URL-M':'Image_URL_M'} , inplace=True)

In [8]:
books = books[['ISBN' , 'Book-Title' , 'Book-Author' , 'Year-Of-Publication' , 'Publisher' ]]

In [9]:
books.rename(columns={'Book-Title':'title' , 'Book-Author':'author' , 'Year-Of-Publication':'year' , 'Publisher':'publisher'} , inplace=True)

C:\Users\Mega Computers\AppData\Local\Temp\ipykernel_5640\1894876655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={'Book-Title':'title' , 'Book-Author':'author' , 'Year-Of-Publication':'year' , 'Publisher':'publisher'} , inplace=True)

In [10]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [11]:
users.head()

users.rename(columns={'User-ID':'user_id' , 'Location':'location' , 'Age':'age' }, inplace=True)

In [12]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [13]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [14]:
ratings.rename(columns={'User-ID':'user_id' , 'Book-Rating':'rating'} , inplace=True)

In [15]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [16]:
print("book.shape :" ,books.shape )
print("users.shape :" ,users.shape )
print("ratings.shape :" ,ratings.shape )

book.shape : (271360, 5)
users.shape : (278858, 3)
ratings.shape : (1149780, 3)

In [17]:
x = ratings['user_id'].value_counts()>200

In [18]:
y = x[x].index

In [19]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [20]:
ratings = ratings[ratings['user_id'].isin(y)]

In [21]:
ratings.shape

(526356, 3)

In [22]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [23]:
ratings_with_books = ratings.merge(books ,on='ISBN' )

In [24]:
ratings_with_books.shape

(487671, 7)

In [25]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [26]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [27]:
number_rating.rename(columns={'rating':'number_of_rating'} , inplace=True)

In [28]:
final_rating= ratings_with_books.merge(number_rating, on='title')

In [29]:
final_rating.shape

(487671, 8)

In [30]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,number_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

In [31]:
final_rating=final_rating[final_rating['number_of_rating']>=50]

In [32]:
final_rating.shape

(61853, 8)

In [33]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,number_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

In [34]:
final_rating.duplicated().sum()

0

In [35]:
final_rating.drop_duplicates(['user_id' , 'title'] , inplace=True)

In [36]:
final_rating.shape

(59850, 8)

In [37]:
book_pivot=final_rating.pivot_table(columns='user_id' , index='title' , values='rating')

In [38]:
book_pivot.shape

(742, 888)

In [39]:
book_pivot.fillna(0 , inplace=True)

In [40]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [42]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [43]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [44]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [45]:
distances , suggestions=model.kneighbors(book_pivot.iloc[237, :].values.reshape(1, -1), n_neighbors=6)

In [46]:
distances

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [47]:
suggestions

array([[237, 240, 238, 241, 184, 536]], dtype=int64)

In [48]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [49]:
book_pivot.index[54]

'Animal Farm'

# Predictive System

In [50]:
np.where(book_pivot.index=='Animal Farm')[0][0]

54

In [101]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index==book_name)[0][0]
    distances , suggestions=model.kneighbors(book_pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)
    
    for i in range(len(suggestions)):
        if i==0:
            print("The Suggestions for " , book_name , "are :")
        if not i:
            print(book_pivot.index[suggestions[i]])

In [102]:
recommend_book("Harry Potter and the Chamber of Secrets (Book 2)")

The Suggestions for  Harry Potter and the Chamber of Secrets (Book 2) are :
Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [108]:
def recommend(book_name):
    

#index fetch

    index = np.where(book_pivot.index==book_name)[0][0]

    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x:x[1], reverse=True) [1:5]

    data = []

    for i in similar_items:
        
        item = []

        temp_df = books [books['Book-Title'] == book_pivot.index[i[0]]]

        item.extend(list(temp_df.drop_duplicates('Book-Title') ['Book-Title'].values)) 
        item.extend(list(temp_df.drop_duplicates ('Book-Title') ['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title') ['Image-URL-M'].values))

        data.append(item)

        return data

In [109]:
recommend("Harry Potter and the Chamber of Secrets (Book 2)")

NameError: name 'similarity_scores' is not defined

# Popularity Based Recommender System

In [53]:
ratings.shape

(526356, 3)

In [54]:
book.head(2)

,ISBN,title,author,year,publisher,Image_URL_M
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [55]:
ratings.head(2)

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0

In [56]:
ratings_with_name= ratings.merge(book , on='ISBN')

In [57]:
ratings_with_name.shape

(487671, 8)

In [58]:
ratings_with_name.head(2)

,user_id,ISBN,rating,title,author,year,publisher,Image_URL_M
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [59]:
ratings_with_name.groupby('title').count()

,user_id,ISBN,rating,author,year,publisher,Image_URL_M
title,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",2,2,2,2,2,2,2
Always Have Popsicles,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1
Clifford Visita El Hospital (Clifford El Gran Perro Colorado),1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,3,3,3,3,3,3,3
Ã?Â?lpiraten.,1,1,1,1,1,1,1
Ã?Â?rger mit Produkt X. Roman.,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,1,1,1,1,1,1,1
Ã?Â?thique en toc,1,1,1,1,1,1,1

In [73]:
num_rating_df = ratings_with_name.groupby('title').count()['rating'].reset_index()
num_rating_df.rename(columns={'rating':'num_rating'} , inplace=True)

In [74]:
num_rating_df

                                                    title  num_rating
0        A Light in the Storm: The Civil War Diary of ...           2
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Beyond IBM: Leadership Marketing and Finance ...           1
4        Clifford Visita El Hospital (Clifford El Gran...           1
...                                                   ...         ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...           3
160265                                      Ã?Â?lpiraten.           1
160266                     Ã?Â?rger mit Produkt X. Roman.           1
160267                              Ã?Â?stlich der Berge.           1
160268                                  Ã?Â?thique en toc           1

[160269 rows x 2 columns]

In [75]:
avg_rating_df = ratings_with_name.groupby('title').mean()['rating'].reset_index()
avg_rating_df.rename(columns={'rating':'avg_rating'} , inplace=True)
avg_rating_df

C:\Users\Mega Computers\AppData\Local\Temp\ipykernel_5640\2375842056.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby('title').mean()['rating'].reset_index()

                                                    title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...         4.5
1                                   Always Have Popsicles         0.0
2                    Apple Magic (The Collector's series)         0.0
3        Beyond IBM: Leadership Marketing and Finance ...         0.0
4        Clifford Visita El Hospital (Clifford El Gran...         0.0
...                                                   ...         ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...         0.0
160265                                      Ã?Â?lpiraten.         0.0
160266                     Ã?Â?rger mit Produkt X. Roman.         8.0
160267                              Ã?Â?stlich der Berge.         0.0
160268                                  Ã?Â?thique en toc         0.0

[160269 rows x 2 columns]

In [76]:
popular_df = num_rating_df.merge(avg_rating_df, on='title')
popular_df

,title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,2,4.5
1,Always Have Popsicles,1,0.0
2,Apple Magic (The Collector's series),1,0.0
3,Beyond IBM: Leadership Marketing and Finance ...,1,0.0
4,Clifford Visita El Hospital (Clifford El Gran...,1,0.0
...,...,...,...
160264,Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...,3,0.0
160265,Ã?Â?lpiraten.,1,0.0
160266,Ã?Â?rger mit Produkt X. Roman.,1,8.0
160267,Ã?Â?stlich der Berge.,1,0.0
160268,Ã?Â?thique en toc,1,0.0

In [77]:
popular_df=popular_df[popular_df['num_rating']>=100].sort_values('avg_rating' , ascending=False).head(50)

In [78]:
book.head()

,ISBN,title,author,year,publisher,Image_URL_M
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [79]:
popular_df = popular_df.merge(book , on='title').drop_duplicates('title')[['title' , 'author' , 'Image_URL_M' , 'num_rating' , 'avg_rating']]

In [86]:
popular_df

,title,author,Image_URL_M,num_rating,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,138,4.528986
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,125,4.480000
5,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,105,4.180952
9,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,183,3.934426
12,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,186,3.672043
20,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,118,3.491525
22,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,107,3.485981
31,Seven Up (A Stephanie Plum Novel),Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...,111,3.315315
33,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...,112,3.214286
38,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,183,3.207650
40,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,270,3.203704
41,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,119,3.201681
54,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,224,3.187500
60,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,171,3.128655
61,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,118,3.110169
67,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,112,3.107143
69,Silence of the Lambs,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...,113,3.106195
72,Lord of the Flies,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...,120,3.016667
78,Insomnia,Stephen King,http://images.amazon.com/images/P/0670855030.0...,105,3.009524
83,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,100,2.980000
90,Outlander,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...,113,2.955752
96,Pet Sematary,Stephen King,http://images.amazon.com/images/P/0451162072.0...,119,2.949580
105,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,142,2.936620
108,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,174,2.867816
110,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,103,2.844660
116,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,209,2.818182
122,Watership Down,Richard George Adams,http://images.amazon.com/images/P/038039586X.0...,115,2.817391
126,Bel Canto: A Novel,Ann Patchett,http://images.amazon.com/images/P/0060934417.0...,108,2.777778
127,High Five (A Stephanie Plum Novel),Janet Evanovich,http://images.amazon.com/images/P/0312971346.0...,110,2.772727
129,Confessions of a Shopaholic (Summer Display Op...,SOPHIE KINSELLA,http://images.amazon.com/images/P/0385335482.0...,120,2.716667
130,The Handmaid's Tale,Margaret Atwood,http://images.amazon.com/images/P/0449212602.0...,130,2.715385
134,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,132,2.712121
137,Misery,Stephen King,http://images.amazon.com/images/P/0451153553.0...,121,2.710744
145,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,135,2.666667
146,Bridget Jones's Diary,Helen Fielding,http://images.amazon.com/images/P/0330332775.0...,277,2.664260
152,Balzac and the Little Chinese Seamstress : A N...,DAI SIJIE,http://images.amazon.com/images/P/0385722206.0...,111,2.648649
154,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,http://images.amazon.com/images/P/0061009059.0...,108,2.592593
155,The Divine Secrets of the Ya-Ya Sisterhood: A ...,Rebecca Wells,http://images.amazon.com/images/P/0060502258.0...,119,2.537815
156,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,123,2.528455
157,Wicked: The Life and Times of the Wicked Witch...,Gregory Maguire,http://images.amazon.com/images/P/0060987103.0...,120,2.525000
158,Three To Get Deadly : A Stephanie Plum Novel (...,Janet Evanovich,http://images.amazon.com/images/P/0312966091.0...,105,2.523810
159,Lucky : A Memoir,Alice Sebold,http://images.amazon.com/images/P/0316096199.0...,115,2.495652
160,Interview with the Vampire,Anne Rice,http://images.amazon.com/images/P/0345337662.0...,177,2.457627
162,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,183,2.448087
163,Empire Falls,Richard Russo,http://images.amazon.com/images/P/0375726403.0...,104,2.442308
166,Dreamcatcher,Stephen King,http://images.amazon.com/images/P/0743211383.0...,161,2.440994
178,2nd Chance,James Patterson,http://images.amazon.com/images/P/0316693200.0...,124,2.435484
182,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,143,2.426573
186,Jurassic Park,Michael Crichton,http://images.amazon.com/images/P/0345370775.0...,175,2.422857
193,1st to Die: A Novel,James Patterson,http://images.amazon.com/images/P/0446610038.0...,162,2.407407

In [81]:
popular_df['Image_URL_M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

In [85]:
import pickle
pickle.dump(popular_df , open('popular_df.pkl' , 'wb'))